.seby{
    text-align: center;
    color: rgb(238, 103, 13);
}
.team{
    text-align: center;
    color: rgb(95, 110, 245);
    background-color: chartreuse;
    width: 100%;
    
}
.button{
    color: brown;
}